body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  * {
    padding: 0;
    margin: 0;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    background-color: blue;


}
  .cabecalho{
    height: 80px;
  }
.imagen_cabecalho {
    height: 45px;
    padding: 10px 25px;
    position: absolute;
    width: 150px;
    margin-top: 50px;
    margin-left: 0px;

  }
.parrafo {

    height: 100px;
    color: white;
    margin-top: 0px;
    margin-left: 120px;
   
  

  }
